@charset "UTF-8";
/*=============== fontlink */
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Poetsen+One&display=swap");
/*=============== color */
/*=============== size */
/*=============== weight */
/*=============== font */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*==================================================== 1500px 시작한다 ! */
@media (max-width: 1000px) {
  /*=============== header */
  header .header_pc {
    transition: 0.5s;
    width: 100%;
    margin-bottom: 20px;
    z-index: 999999;
  }
  header .header_pc .header {
    transition: 0.5s;
    margin: 20px 2vw 40px;
    display: grid;
    grid-template-columns: minmax(300px, 50px) 1fr minmax(300px, 50px);
    align-items: center;
    justify-content: space-between;
  }
  header .header_pc .header .hmbrgMenu {
    transition: 0.5s;
    justify-self: start;
    position: relative;
  }
  header .header_pc .header .hmbrgMenu .hmbrgBtn {
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    z-index: 9999;
    width: 40px;
    height: 40px;
  }
  header .header_pc .header .hmbrgMenu .hmbrgBtn li {
    transition: 0.5s;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #111111;
  }
  header .header_pc .header .hmbrgMenu .hmbrgBtn li:last-child {
    width: 25px;
  }
  header .header_pc .header .hmbrgMenu .hmbrgMenuBox {
    transition: 0.5s;
    z-index: 999;
    position: absolute;
    top: -90px;
    left: -2vw;
    width: 100vw;
    margin: 0;
    padding: 50px 0;
    border-radius: 0 0 20px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: end;
    transform: translateY(-450px);
  }
  header .header_pc .header .hmbrgMenu .hmbrgMenuBox .menuList {
    display: flex;
    align-items: end;
    justify-content: space-around;
    gap: 40px;
  }
  header .header_pc .header .hmbrgMenu .hmbrgMenuBox .menuList li {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 30px;
  }
  header .header_pc .header .hmbrgMenu .hmbrgMenuBox .menuList li:nth-child(1) img {
    width: 90px;
  }
  header .header_pc .header .hmbrgMenu .hmbrgMenuBox .menuList li:nth-child(2) img {
    width: 120px;
  }
  header .header_pc .header .hmbrgMenu .hmbrgMenuBox .menuList li:nth-child(3) img {
    width: 90px;
  }
  header .header_pc .header .hmbrgMenu .hmbrgMenuBox .menuList li:nth-child(4) img {
    width: 150px;
  }
  header .header_pc .header .hmbrgMenu .hmbrgMenuBox .menuList li h2 {
    font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    color: #111111;
  }
  header .header_pc .header .hmbrgMenu.active .hmbrgBtn {
    display: grid;
  }
  header .header_pc .header .hmbrgMenu.active .hmbrgBtn li:first-child {
    transform: rotate(45deg);
    grid-row: 1/2;
    grid-column: 1/2;
  }
  header .header_pc .header .hmbrgMenu.active .hmbrgBtn li:last-child {
    width: 30px;
    transform: rotate(-45deg);
    grid-row: 1/2;
    grid-column: 1/2;
  }
  header .header_pc .header .hmbrgMenu.active .hmbrgMenuBox {
    transform: translateY(0);
  }
  header .header_pc .header .logo {
    justify-self: center;
    max-width: 150px;
    min-width: 100px;
  }
  header .header_pc .header .logo a img {
    width: 100%;
  }
  header .header_pc .header .headerIcon {
    justify-self: end;
    display: flex;
    gap: 45px;
  }
  header .header_pc .nav {
    width: 100%;
    margin-bottom: 20px;
    transition: 0.1s;
  }
  header .header_pc .nav .hmbrgMenu {
    display: none;
  }
  header .header_pc .nav .headerIcon {
    display: none;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #111111;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:hover:nth-child(2) a p {
    background-color: #FFB400;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:hover:nth-child(3) a p {
    background-color: #E94529;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:hover:nth-child(4) a p {
    background-color: #FFD100;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:hover:nth-child(5) a p {
    background-color: #FFB400;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:hover:nth-child(6) a p {
    background-color: #FFD100;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:hover:nth-child(7) a p {
    color: #fff;
    background-color: #FF2108;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:hover a p {
    border-color: #000;
    animation: menu 0.5s infinite;
  }
  @keyframes menu {
    0% {
      transform: rotate(3deg);
    }
    20% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-2deg);
    }
    80% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:nth-child(1) a p {
    border: 2px solid #000;
    background-color: #00AD4D;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:nth-child(1) a img {
    width: 85px;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:nth-child(2) a img {
    width: 35px;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:nth-child(3) a img {
    width: 25px;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:nth-child(4) a img {
    width: 21px;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:nth-child(5) a img {
    width: 45px;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:nth-child(6) a img {
    width: 50px;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:nth-child(7) a p {
    color: #FF2108;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li:nth-child(7) a img {
    width: 63px;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li a {
    display: grid;
    grid-template-rows: 70px 1fr;
    place-items: center;
  }
  header .header_pc .nav .slideWrap .slideContainer .gnb li a p {
    margin-top: 5px;
    border-radius: 30px;
    border: 2px solid transparent;
    background-color: transparent;
    padding: 5px 10px;
  }
  header .header_pc.active {
    transition: 0.8s;
    position: fixed;
    top: 0;
    left: 0;
  }
  header .header_pc.active .header {
    display: none;
  }
  header .header_pc.active .nav {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.16);
    padding: 5px 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  header .header_pc.active .nav .headerIcon {
    justify-self: end;
    display: flex;
    gap: 45px;
    display: none;
  }
  header .header_pc.active .nav .hmbrgMenu {
    justify-self: start;
    display: none;
  }
  header .header_pc.active .nav .hmbrgMenu .hmbrgBtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
  }
  header .header_pc.active .nav .hmbrgMenu .hmbrgBtn li {
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #111111;
  }
  header .header_pc.active .nav .hmbrgMenu .hmbrgBtn li:last-child {
    width: 25px;
  }
  header .header_pc.active .nav .slideWrap .slideContainer .gnb {
    gap: 30px;
  }
  header .header_pc.active .nav .slideWrap .slideContainer .gnb li a img {
    display: none;
  }
  /*=============== main */
  main {
    /*========== section main */
    /*========== section textSlide */
    /*========== section walk */
    /*========== section pogle */
    /*========== section textAni */
    /*========== section best */
    /*========== section magazine */
    /*========== section sale */
    /*========== section new */
    /*========== section cutePuppy */
  }
  main .main {
    margin-bottom: 150px;
    height: 100%;
    width: 100%;
    position: relative;
  }
  main .main .swiper {
    border-radius: 40px;
    position: relative;
    margin: 0 2vw;
  }
  main .main .swiper .swiperBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    --swiper-theme-color: #111;
  }
  main .main .swiper .swiper-wrapper .swiper-slide {
    display: grid;
  }
  main .main .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  main .main .swiper .swiper-wrapper .swiper-slide .textWrapper {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    padding-left: 50px;
  }
  main .main .swiper .swiper-wrapper .swiper-slide .textWrapper .imgTitle {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 30px;
  }
  main .main .swiper .swiper-wrapper .swiper-slide .textWrapper p {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #111111;
    line-height: 1.5;
    margin-bottom: 50px;
  }
  main .main .swiper .swiper-wrapper .swiper-slide .textWrapper .shopNow {
    position: relative;
  }
  main .main .swiper .swiper-wrapper .swiper-slide .textWrapper .shopNow a {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 40px;
    display: grid;
    place-items: center;
    font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #111111;
    border: 1.5px solid #111111;
    background-color: #fff;
    border-radius: 30px;
  }
  main .main .swiper .swiper-wrapper .swiper-slide .textWrapper .shopNow:hover .hoverBg {
    position: absolute;
    top: 3px;
    left: 1px;
    width: 120px;
    height: 40px;
    background-color: #111111;
    border-radius: 30px;
  }
  main .textSlide {
    margin: 0 2vw 100px;
    display: grid;
    grid-template-rows: repeat(3, 220px);
    overflow: hidden;
    transition: 0.5s;
  }
  main .textSlide .textWrapper {
    font-family: "Bagel Fat One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 200px;
    color: #111111;
    width: 100%;
    position: relative;
    transform: translateX(50px);
    opacity: 0;
  }
  main .textSlide .textWrapper h2 {
    height: 100%;
    line-height: 1;
  }
  main .textSlide .textWrapper img {
    opacity: 0;
    transition: 0.1s;
  }
  main .textSlide .firstText img {
    transform: translateY(-50px);
    width: 130px;
    position: absolute;
    top: 0px;
    left: 40px;
  }
  main .textSlide .secondText img {
    width: 130px;
    position: absolute;
    top: 30px;
    left: 580px;
  }
  main .textSlide .lastText img {
    transform: translateY(-50px);
    width: 180px;
    position: absolute;
    top: -50px;
    left: 120px;
  }
  main .walk {
    margin: 0 2vw 100px;
    display: grid;
    gap: 1vw;
    grid-template-columns: 440px 1fr;
  }
  main .walk .left {
    display: grid;
  }
  main .walk .left img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  main .walk .left .textWrapper {
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 578.83px;
    border-radius: 600px;
    text-align: center;
  }
  main .walk .left .textWrapper .slideWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4500px;
    animation: walkLeft 20s linear infinite;
  }
  @keyframes walkLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2250px);
    }
  }
  main .walk .left .textWrapper .slideWrapper .slide {
    width: 750px;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
    background-color: #fff;
    text-wrap: nowrap;
    padding: 10px;
    margin: 350px 0 20px;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #111111;
  }
  main .walk .left .textWrapper .title {
    font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
    color: #111111;
    margin-bottom: 30px;
  }
  main .walk .left .textWrapper .subText {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #111111;
    line-height: 1.5;
  }
  main .walk .right {
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: 30px 1fr;
    gap: 1vw;
  }
  main .walk .right .btnWrapper {
    display: flex;
    gap: 20px;
  }
  main .walk .right .product {
    width: 100%;
  }
  main .walk .right .product .imgWrapper {
    margin-bottom: 25px;
    width: 100%;
    position: relative;
  }
  main .walk .right .product .imgWrapper img {
    width: 100%;
  }
  main .walk .right .product .imgWrapper .slideArea {
    position: absolute;
    top: 20px;
    left: 15px;
    border-radius: 50%;
    border: 1px solid #111111;
    background-color: #00AD4D;
    width: 60px;
    height: 30px;
    transform: rotate(-30deg);
    overflow: hidden;
  }
  main .walk .right .product .imgWrapper .slideArea .slideContainer {
    height: 30px;
    align-items: center;
    display: flex;
    text-wrap: nowrap;
    gap: 10px;
    width: 540px;
    animation: walk 20s linear infinite;
  }
  @keyframes walk {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-270px);
    }
  }
  main .walk .right .product .imgWrapper .slideArea .slideContainer .slideItem {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    width: 90px;
  }
  main .walk .right .product .textWrapper {
    padding-left: 10px;
  }
  main .walk .right .product .textWrapper .category {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 4px;
  }
  main .walk .right .product .textWrapper .name {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    margin-bottom: 10px;
  }
  main .walk .right .product .textWrapper .name span {
    display: none;
  }
  main .walk .right .product .textWrapper .priceContainer {
    display: flex;
    gap: 10px;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #111111;
  }
  main .walk .right .product .textWrapper .priceContainer .discountRate {
    color: #FF2108;
  }
  main .walk .right .firstProduct {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main .walk .right .lastProduct {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  main .walk .bottom {
    display: none;
  }
  main .pogle {
    margin: 0 2vw 100px;
    display: grid;
    gap: 1vw;
    grid-template-columns: 1fr 440px;
  }
  main .pogle .left {
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: 30px 1fr;
    gap: 1vw;
  }
  main .pogle .left .btnWrapper {
    display: flex;
    gap: 20px;
  }
  main .pogle .left .product {
    width: 100%;
  }
  main .pogle .left .product .imgWrapper {
    margin-bottom: 25px;
    width: 100%;
    position: relative;
  }
  main .pogle .left .product .imgWrapper img {
    width: 100%;
  }
  main .pogle .left .product .imgWrapper .slideArea {
    position: absolute;
    top: 20px;
    left: 15px;
    border-radius: 50%;
    border: 1px solid #111111;
    background-color: #00AD4D;
    width: 60px;
    height: 30px;
    transform: rotate(-30deg);
    overflow: hidden;
  }
  main .pogle .left .product .imgWrapper .slideArea .slideContainer {
    height: 30px;
    align-items: center;
    display: flex;
    text-wrap: nowrap;
    gap: 10px;
    width: 540px;
    animation: walk 20s linear infinite;
  }
  @keyframes walk {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-270px);
    }
  }
  main .pogle .left .product .imgWrapper .slideArea .slideContainer .slideItem {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    width: 90px;
  }
  main .pogle .left .product .textWrapper {
    padding-left: 10px;
  }
  main .pogle .left .product .textWrapper .category {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 4px;
  }
  main .pogle .left .product .textWrapper .name {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    margin-bottom: 10px;
  }
  main .pogle .left .product .textWrapper .name span {
    display: none;
  }
  main .pogle .left .product .textWrapper .priceContainer {
    display: flex;
    gap: 10px;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #111111;
  }
  main .pogle .left .product .textWrapper .priceContainer .discountRate {
    color: #FF2108;
  }
  main .pogle .left .firstProduct {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main .pogle .left .lastProduct {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  main .pogle .right {
    display: grid;
  }
  main .pogle .right img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  main .pogle .right .textWrapper {
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 578.83px;
    border-radius: 600px;
    text-align: center;
  }
  main .pogle .right .textWrapper .slideWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4500px;
    animation: pogleRight 20s linear infinite;
  }
  @keyframes pogleRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2250px);
    }
  }
  main .pogle .right .textWrapper .slideWrapper .slide {
    width: 750px;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
    background-color: #fff;
    text-wrap: nowrap;
    padding: 10px;
    margin: 350px 0 20px;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #111111;
  }
  main .pogle .right .textWrapper .title {
    font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
    color: #111111;
    margin-bottom: 30px;
  }
  main .pogle .right .textWrapper .subText {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #111111;
    line-height: 1.5;
  }
  main .pogle .bottom {
    display: none;
  }
  main .textAni {
    margin: 0 2vw 100px;
    overflow-y: hidden;
    padding-top: 20px;
  }
  main .textAni .textAniContainer {
    width: 5400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    animation: textAni 20s linear infinite;
  }
  @keyframes textAni {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2700px);
    }
  }
  main .textAni .textAniContainer .textAniWrapper {
    display: grid;
    width: 1350px;
  }
  main .textAni .textAniContainer .textAniWrapper .text {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: "Bagel Fat One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 100px;
    color: #111111;
    z-index: 999;
  }
  main .textAni .textAniContainer .textAniWrapper .puppy {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 160px;
    transform: translate(90px, -50px);
    animation: puppy 1s infinite;
  }
  @keyframes puppy {
    0% {
      transform: translate(90px, -50px);
    }
    15% {
      transform: translate(90px, -53px);
    }
    20% {
      transform: translate(90px, -55px);
    }
    50% {
      transform: translate(90px, -60px);
    }
    60% {
      transform: translate(90px, -58px);
    }
    80% {
      transform: translate(90px, -55px);
    }
    90% {
      transform: translate(90px, -52px);
    }
    100% {
      transform: translate(90px, -51px);
    }
  }
  main .textAni .textAniContainer .textAniWrapper .star {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 120px;
    transform: translate(580px, 0px);
    animation: star 1s infinite;
  }
  @keyframes star {
    0% {
      transform: translate(580px, 0px) scale(1);
      opacity: 1;
    }
    50% {
      transform: translate(580px, 0px) scale(1.1);
      opacity: 0.5;
    }
    100% {
      transform: translate(580px, 0px) scale(1);
      opacity: 1;
    }
  }
  main .textAni .textAniContainer .textAniWrapper .moveStar {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 47px;
    transform: translate(1257px, 84px) rotate(0);
    animation: rotate2 2s infinite;
  }
  @keyframes rotate2 {
    0% {
      transform: translate(1257px, 84px) rotate(0deg);
    }
    12% {
      transform: translate(1257px, 84px) rotate(45deg);
    }
    25% {
      transform: translate(1257px, 84px) rotate(90deg);
    }
    37% {
      transform: translate(1257px, 84px) rotate(135deg);
    }
    50% {
      transform: translate(1257px, 84px) rotate(180deg);
    }
    62% {
      transform: translate(1257px, 84px) rotate(225deg);
    }
    75% {
      transform: translate(1257px, 84px) rotate(270deg);
    }
    87% {
      transform: translate(1257px, 84px) rotate(315deg);
    }
    100% {
      transform: translate(1257px, 84px) rotate(360deg);
    }
  }
  main .textAni .textAniContainer .textAniWrapper .decoration {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 85px;
    height: 47px;
    border: 1px solid #111111;
    border-radius: 50%;
    background-color: #00AD4D;
    font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: #111111;
    display: grid;
    place-items: center;
    transform: translate(1070px, 7px);
  }
  main .best {
    margin: 0 2vw 100px;
    display: grid;
    gap: 1vw;
    grid-template-columns: 1fr 3fr;
  }
  main .best .left .titleWrapper {
    margin-bottom: 10px;
  }
  main .best .left .titleWrapper p {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #111111;
  }
  main .best .left .titleWrapper h2 {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #111111;
  }
  main .best .left .btnWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  main .best .left .btnWrapper li {
    width: 100px;
    display: grid;
    place-items: center;
    padding: 10px;
    border: 1px solid #111111;
    border-radius: 30px;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #111111;
  }
  main .best .left .btnWrapper li:hover {
    border-radius: 50%;
  }
  main .best .left .btnWrapper li.show {
    background-color: #00AD4D;
  }
  main .best .right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5vw 1vw;
  }
  main .best .right li .imgWrapper {
    margin-bottom: 25px;
    width: 100%;
    position: relative;
  }
  main .best .right li .imgWrapper img {
    width: 100%;
  }
  main .best .right li .imgWrapper .star {
    display: grid;
    position: absolute;
    top: 20px;
    left: 15px;
  }
  main .best .right li .imgWrapper .star img {
    width: 60px;
    grid-column: 1/2;
    grid-row: 1/2;
    animation: rotate 2s infinite;
  }
  main .best .right li .imgWrapper .star p {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #111111;
    color: #fff;
    display: grid;
    place-items: center;
    z-index: 9;
  }
  main .best .right li .textWrapper {
    padding-left: 10px;
  }
  main .best .right li .textWrapper .category {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 4px;
  }
  main .best .right li .textWrapper .name {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    margin-bottom: 10px;
  }
  main .best .right li .textWrapper .name span {
    display: none;
  }
  main .best .right li .textWrapper .priceContainer {
    display: flex;
    gap: 10px;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #111111;
  }
  main .best .right li .textWrapper .priceContainer .discountRate {
    color: #FF2108;
  }
  main .magazine {
    margin: 0 2vw 100px;
    position: relative;
  }
  main .magazine img {
    transition: 0.5s;
    position: sticky;
    top: 120px;
    left: 0;
    width: 100%;
  }
  main .magazine img:nth-child(2) {
    top: 250px;
  }
  main .sale {
    margin: 0 2vw 100px;
  }
  main .sale .titleWrapper {
    margin-bottom: 20px;
  }
  main .sale .titleWrapper p {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #111111;
  }
  main .sale .titleWrapper h2 {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #111111;
  }
  main .sale .btnWrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 70px;
  }
  main .sale .productWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
  }
  main .sale .productWrapper li img {
    width: 100%;
  }
  main .sale .productWrapper li .textWrapper {
    margin-top: 15px;
    padding-left: 10px;
  }
  main .sale .productWrapper li .textWrapper .category {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 4px;
  }
  main .sale .productWrapper li .textWrapper .name {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    margin-bottom: 10px;
  }
  main .sale .productWrapper li .textWrapper .name span {
    display: none;
  }
  main .sale .productWrapper li .textWrapper .priceContainer {
    display: flex;
    gap: 10px;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #111111;
  }
  main .sale .productWrapper li .textWrapper .priceContainer .discountRate {
    color: #FF2108;
  }
  main .cursor {
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition-property: background, transform;
    pointer-events: none;
  }
  main .cursor.on .bg {
    opacity: 1;
    transform: scale(1);
  }
  main .cursor .bg {
    opacity: 0;
    position: absolute;
    left: -52px;
    top: -52px;
    transform: scale(0);
    width: 130px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #111111;
    background-color: #00AD4D;
    font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #111111;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    transition: 0.1s;
  }
  main .cursor .bg img {
    width: 15px;
  }
  main .new {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    margin: 0 2vw 100px;
  }
  main .new .titleWrapper {
    margin-bottom: 20px;
  }
  main .new .titleWrapper p {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #111111;
  }
  main .new .titleWrapper h2 {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #111111;
  }
  main .new .contentWrapper {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 70vw;
    overflow: hidden;
  }
  main .new .contentWrapper .textWrapper {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-family: "Bagel Fat One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 150px;
    color: #111111;
    line-height: 1;
  }
  main .new .contentWrapper .newSwiper {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  main .new .contentWrapper .newSwiper .productWrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: none;
  }
  main .new .contentWrapper .newSwiper .productWrapper li:hover .priceWrapper {
    opacity: 1;
  }
  main .new .contentWrapper .newSwiper .productWrapper li img {
    width: 370px;
    margin: 80px;
  }
  main .new .contentWrapper .newSwiper .productWrapper li .priceWrapper {
    transition: 0.1s;
    display: grid;
    align-content: center;
    padding: 20px;
    width: 250px;
    height: 130px;
    border-radius: 20px;
    border: 1px solid #111111;
    background-color: #fff;
    box-shadow: 3px 3px #111111;
    opacity: 0;
  }
  main .new .contentWrapper .newSwiper .productWrapper li .priceWrapper .category {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #111111;
    margin-bottom: 4px;
  }
  main .new .contentWrapper .newSwiper .productWrapper li .priceWrapper .name {
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    margin-bottom: 10px;
  }
  main .new .contentWrapper .newSwiper .productWrapper li .priceWrapper .priceContainer {
    display: flex;
    gap: 10px;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #111111;
  }
  main .new .contentWrapper .newSwiper .productWrapper li .priceWrapper .priceContainer .discountRate {
    color: #FF2108;
  }
  main .cutePuppy {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  main .cutePuppy img {
    width: 200px;
    transform: rotate(-10deg) translate(70vw, 250px);
  }
  /*=============== footer */
  footer {
    width: 100%;
    background-color: #00AD4D;
    border-radius: 30px 30px 0 0;
    padding: 35px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #111111;
  }
  footer .left {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  footer .left .detailsBtn {
    display: flex;
    gap: 12px;
  }
  footer .left .detailsBtn li {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
  }
  footer .left .notice {
    display: flex;
    gap: 12px;
    font-weight: 500;
  }
  footer .left .sns {
    display: flex;
    gap: 12px;
  }
  footer .right {
    justify-self: end;
    text-align: right;
    color: #fff;
  }
  footer .right .call {
    margin-bottom: 80px;
  }
  footer .right .call h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=1000px.css.map */