@charset "UTF-8";
/*=============== fontlink */
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Poetsen+One&display=swap");
/*=============== color */
/*=============== size */
/*=============== weight */
/*=============== font */
/*==================================================== pc부터 시작한다 ! */
/*=============== header */
header {
  width: 100%;
  margin-bottom: 20px;
}
header .header {
  margin: 20px 15vw 40px;
  display: grid;
  grid-template-columns: minmax(300px, 50px) 1fr minmax(300px, 50px);
  align-items: center;
  justify-content: space-between;
}
header .header .hmbrgMenu {
  justify-self: start;
}
header .header .hmbrgMenu .hmbrgBtn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
header .header .hmbrgMenu .hmbrgBtn li {
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: #222222;
}
header .header .hmbrgMenu .hmbrgBtn li:last-child {
  width: 25px;
}
header .header .logo {
  justify-self: center;
  max-width: 150px;
  min-width: 100px;
}
header .header .logo a img {
  width: 100%;
}
header .header .headerIcon {
  justify-self: end;
  display: flex;
  gap: 45px;
}
header .nav {
  width: 100%;
  margin-bottom: 20px;
}
header .nav .hmbrgMenu {
  display: none;
}
header .nav .headerIcon {
  display: none;
}
header .nav .slideWrap .slideContainer .gnb {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #222222;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(2) a p {
  background-color: #FFB400;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(3) a p {
  background-color: #E94529;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(4) a p {
  background-color: #FFD100;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(5) a p {
  background-color: #FFB400;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(6) a p {
  background-color: #FFD100;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(7) a p {
  color: #fff;
  background-color: #FF2108;
}
header .nav .slideWrap .slideContainer .gnb li:hover a p {
  border-color: #000;
  animation: menu 0.5s infinite;
}
@keyframes menu {
  0% {
    transform: rotate(3deg);
  }
  20% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(1) a p {
  border: 2px solid #000;
  background-color: #00AD4D;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(1) a img {
  width: 85px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(2) a img {
  width: 35px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(3) a img {
  width: 25px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(4) a img {
  width: 21px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(5) a img {
  width: 45px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(6) a img {
  width: 50px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(7) a p {
  color: #FF2108;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(7) a img {
  width: 63px;
}
header .nav .slideWrap .slideContainer .gnb li a {
  display: grid;
  grid-template-rows: 70px 1fr;
  place-items: center;
}
header .nav .slideWrap .slideContainer .gnb li a p {
  margin-top: 5px;
  border-radius: 30px;
  border: 2px solid transparent;
  background-color: transparent;
  padding: 5px 10px;
}
header.active {
  transition: 0.8s;
  position: fixed;
  top: 0;
  left: 0;
}
header.active .header {
  display: none;
}
header.active .nav {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.16);
  padding: 5px 15vw;
  display: grid;
  grid-template-columns: minmax(300px, 50px) 1fr minmax(300px, 50px);
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
header.active .nav .headerIcon {
  display: block;
  justify-self: end;
  display: flex;
  gap: 45px;
}
header.active .nav .hmbrgMenu {
  justify-self: start;
  display: block;
}
header.active .nav .hmbrgMenu .hmbrgBtn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
header.active .nav .hmbrgMenu .hmbrgBtn li {
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: #222222;
}
header.active .nav .hmbrgMenu .hmbrgBtn li:last-child {
  width: 25px;
}
header.active .nav .slideWrap .slideContainer .gnb {
  gap: 30px;
}
header.active .nav .slideWrap .slideContainer .gnb li a img {
  display: none;
}

/*=============== main */
main {
  /*========== section main */
  /*========== section textSlide */
  /*========== section walk */
  /*========== section pogle */
  /*========== section textAni */
  /*========== section best */
  /*========== section magazine */
  /*========== section sale */
  /*========== section new */
  /*========== section cutePuppy */
}

/*=============== footer */
footer {
  width: 100%;
  background-color: #00AD4D;
  border-radius: 30px 30px 0 0;
  padding: 35px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #222222;
}
footer .left {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .left .detailsBtn {
  display: flex;
  gap: 12px;
}
footer .left .detailsBtn li {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
}
footer .left .notice {
  display: flex;
  gap: 12px;
  font-weight: 500;
}
footer .left .sns {
  display: flex;
  gap: 12px;
}
footer .right {
  justify-self: end;
  text-align: right;
  color: #fff;
}
footer .right .call {
  margin-bottom: 80px;
}
footer .right .call h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5px;
}

/*==================================================== pcLg 시작한다 ! */
/*==================================================== pcMd 시작한다 ! */
/*==================================================== pcSm 시작한다 ! */
/*==================================================== tablet 시작한다 ! */
/*==================================================== mobile 시작한다 ! *//*# sourceMappingURL=index.css.map */