@import "./val.scss";

/*==================================================== pc부터 시작한다 ! */
/*=============== header */
header {
  width: 100%;
  margin-bottom: 20px;

  .header {
    margin: 20px 15vw 40px;
    display: grid;
    grid-template-columns: minmax(300px, 50px) 1fr minmax(300px, 50px);
    align-items: center;
    justify-content: space-between;

    .hmbrgMenu {
      justify-self: start;

      .hmbrgBtn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 12px;

        li {
          width: 30px;
          height: 3px;
          border-radius: 3px;
          background-color: $textColor;

          &:last-child {
            width: 25px;
          }
        }
      }
    }

    .logo {
      justify-self: center;
      max-width: 150px;
      min-width: 100px;

      a {
        img {
          width: 100%;
        }
      }
    }

    .headerIcon {
      justify-self: end;
      display: flex;
      gap: 45px;
    }
  }

  .nav {
    width: 100%;
    margin-bottom: 20px;

    .hmbrgMenu {
      display: none;
    }

    .headerIcon {
      display: none;
    }

    .slideWrap {
      .slideContainer {
        .gnb {
          text-align: center;
          display: flex;
          justify-content: center;
          gap: 50px;
          @include titleFont ();

          li {
            &:hover {
              &:nth-child(2) {
                a {
                  p {
                    background-color: $subColor2;
                  }
                }
              }

              &:nth-child(3) {
                a {
                  p {
                    background-color: $subColor3;
                  }
                }
              }

              &:nth-child(4) {
                a {
                  p {
                    background-color: $subColor1;
                  }
                }
              }

              &:nth-child(5) {
                a {
                  p {
                    background-color: $subColor2;
                  }
                }
              }

              &:nth-child(6) {
                a {
                  p {
                    background-color: $subColor1;
                  }
                }
              }

              &:nth-child(7) {
                a {
                  p {
                    color: #fff;
                    background-color: $pointColor;
                  }
                }
              }

              a {
                p {
                  border-color: #000;
                  animation: menu 0.5s infinite;

                  @keyframes menu {
                    0% {
                      transform: rotate(3deg);
                    }

                    20% {
                      transform: rotate(2deg);
                    }

                    50% {
                      transform: rotate(-2deg);
                    }

                    80% {
                      transform: rotate(0deg);
                    }

                    100% {
                      transform: rotate(3deg);
                    }
                  }
                }
              }
            }

            &:nth-child(1) {
              a {
                p {
                  border: 2px solid #000;
                  background-color: $mainColor;
                }

                img {
                  width: 85px;
                }
              }
            }

            &:nth-child(2) {
              a {
                img {
                  width: 35px;
                }
              }
            }

            &:nth-child(3) {
              a {
                img {
                  width: 25px;
                }
              }
            }

            &:nth-child(4) {
              a {
                img {
                  width: 21px;
                }
              }
            }

            &:nth-child(5) {
              a {
                img {
                  width: 45px;
                }
              }
            }

            &:nth-child(6) {
              a {
                img {
                  width: 50px;
                }
              }
            }

            &:nth-child(7) {
              a {
                p {
                  color: $pointColor;
                }

                img {
                  width: 63px;
                }
              }
            }

            a {
              display: grid;
              grid-template-rows: 70px 1fr;
              place-items: center;

              p {
                margin-top: 5px;
                border-radius: 30px;
                border: 2px solid transparent;
                background-color: transparent;
                padding: 5px 10px;
              }
            }
          }
        }
      }
    }
  }

  &.active {
    transition: 0.8s;
    position: fixed;
    top: 0;
    left: 0;

    .header {
      display: none;
    }

    .nav {
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.16);
      padding: 5px 15vw;
      display: grid;
      grid-template-columns: minmax(300px, 50px) 1fr minmax(300px, 50px);
      align-items: center;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(20px);
      .headerIcon {
        display: block;
        justify-self: end;
        display: flex;
        gap: 45px;
      }

      .hmbrgMenu {
        justify-self: start;
        display: block;

        .hmbrgBtn {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 12px;

          li {
            width: 30px;
            height: 3px;
            border-radius: 3px;
            background-color: $textColor;

            &:last-child {
              width: 25px;
            }
          }
        }
      }

      .slideWrap {
        .slideContainer {
          .gnb {
            gap: 30px;

            li {
              a {
                img {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}


/*=============== main */
main {

  /*========== section main */



  /*========== section textSlide */



  /*========== section walk */



  /*========== section pogle */



  /*========== section textAni */



  /*========== section best */



  /*========== section magazine */



  /*========== section sale */



  /*========== section new */



  /*========== section cutePuppy */

}

/*=============== footer */
footer {
  width: 100%;
  background-color: $mainColor;
  border-radius: 30px 30px 0 0;
  padding: 35px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  @include mainFont ($s_sm, $w_sm);

  .left {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .detailsBtn {
      display: flex;
      gap: 12px;

      li {
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 20px;
      }
    }

    .notice {
      display: flex;
      gap: 12px;
      font-weight: 500;
    }

    .sns {
      display: flex;
      gap: 12px;
    }
  }

  .right {
    justify-self: end;
    text-align: right;
    color: #fff;

    .call {
      margin-bottom: 80px;

      h3 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 5px;
      }
    }
  }
}




/*==================================================== pcLg 시작한다 ! */
@include desktopLg {}





/*==================================================== pcMd 시작한다 ! */
@include desktopMd {}





/*==================================================== pcSm 시작한다 ! */
@include desktopSm {}





/*==================================================== tablet 시작한다 ! */
@include tablet {}





/*==================================================== mobile 시작한다 ! */
@include mobile {}