@charset "UTF-8";
/*=============== fontlink */
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Poetsen+One&display=swap");
/*=============== color */
/*=============== size */
/*=============== weight */
/*=============== font */
/*==================================================== pc부터 시작한다 ! */
*::-moz-selection {
  background-color: rgba(0, 173, 78, 0.3);
}
*::selection {
  background-color: rgba(0, 173, 78, 0.3);
}

::-webkit-scrollbar {
  display: none;
}

/*=============== header */
header {
  width: 100%;
  margin-bottom: 20px;
  z-index: 999999;
}
header .header {
  margin: 20px 15vw 40px;
  display: grid;
  grid-template-columns: minmax(300px, 50px) 1fr minmax(300px, 50px);
  align-items: center;
  justify-content: space-between;
}
header .header .hmbrgMenu {
  justify-self: start;
}
header .header .hmbrgMenu .hmbrgBtn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
header .header .hmbrgMenu .hmbrgBtn li {
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: #111111;
}
header .header .hmbrgMenu .hmbrgBtn li:last-child {
  width: 25px;
}
header .header .logo {
  justify-self: center;
  max-width: 150px;
  min-width: 100px;
}
header .header .logo a img {
  width: 100%;
}
header .header .headerIcon {
  justify-self: end;
  display: flex;
  gap: 45px;
}
header .nav {
  width: 100%;
  margin-bottom: 20px;
}
header .nav .hmbrgMenu {
  display: none;
}
header .nav .headerIcon {
  display: none;
}
header .nav .slideWrap .slideContainer .gnb {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #111111;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(2) a p {
  background-color: #FFB400;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(3) a p {
  background-color: #E94529;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(4) a p {
  background-color: #FFD100;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(5) a p {
  background-color: #FFB400;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(6) a p {
  background-color: #FFD100;
}
header .nav .slideWrap .slideContainer .gnb li:hover:nth-child(7) a p {
  color: #fff;
  background-color: #FF2108;
}
header .nav .slideWrap .slideContainer .gnb li:hover a p {
  border-color: #000;
  animation: menu 0.5s infinite;
}
@keyframes menu {
  0% {
    transform: rotate(3deg);
  }
  20% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(1) a p {
  border: 2px solid #000;
  background-color: #00AD4D;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(1) a img {
  width: 85px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(2) a img {
  width: 35px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(3) a img {
  width: 25px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(4) a img {
  width: 21px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(5) a img {
  width: 45px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(6) a img {
  width: 50px;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(7) a p {
  color: #FF2108;
}
header .nav .slideWrap .slideContainer .gnb li:nth-child(7) a img {
  width: 63px;
}
header .nav .slideWrap .slideContainer .gnb li a {
  display: grid;
  grid-template-rows: 70px 1fr;
  place-items: center;
}
header .nav .slideWrap .slideContainer .gnb li a p {
  margin-top: 5px;
  border-radius: 30px;
  border: 2px solid transparent;
  background-color: transparent;
  padding: 5px 10px;
}
header.active {
  transition: 0.8s;
  position: fixed;
  top: 0;
  left: 0;
}
header.active .header {
  display: none;
}
header.active .nav {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.16);
  padding: 5px 15vw;
  display: grid;
  grid-template-columns: minmax(300px, 50px) 1fr minmax(300px, 50px);
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
header.active .nav .headerIcon {
  display: block;
  justify-self: end;
  display: flex;
  gap: 45px;
}
header.active .nav .hmbrgMenu {
  justify-self: start;
  display: block;
}
header.active .nav .hmbrgMenu .hmbrgBtn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
header.active .nav .hmbrgMenu .hmbrgBtn li {
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: #111111;
}
header.active .nav .hmbrgMenu .hmbrgBtn li:last-child {
  width: 25px;
}
header.active .nav .slideWrap .slideContainer .gnb {
  gap: 30px;
}
header.active .nav .slideWrap .slideContainer .gnb li a img {
  display: none;
}

/*=============== main */
main {
  /*========== section main */
  /*========== section textSlide */
  /*========== section walk */
  /*========== section pogle */
  /*========== section textAni */
  /*========== section best */
  /*========== section magazine */
  /*========== section sale */
  /*========== section new */
  /*========== section cutePuppy */
}
main .main {
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
  position: relative;
}
main .main .swiper {
  margin: 0 15vw;
}
main .main .swiper .swiperItem {
  display: grid;
}
main .main .swiper .swiperItem img {
  width: 100%;
  border-radius: 40px;
  grid-column: 1/2;
  grid-row: 1/2;
}
main .main .swiper .swiperItem .textWrapper {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  padding-left: 50px;
}
main .main .swiper .swiperItem .textWrapper .imgTitle {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 30px;
}
main .main .swiper .swiperItem .textWrapper p {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #111111;
  line-height: 1.5;
  margin-bottom: 50px;
}
main .main .swiper .swiperItem .textWrapper .shopNow {
  position: relative;
}
main .main .swiper .swiperItem .textWrapper .shopNow a {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 40px;
  display: grid;
  place-items: center;
  font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #111111;
  border: 1.5px solid #111111;
  background-color: #fff;
  border-radius: 30px;
}
main .main .swiper .swiperItem .textWrapper .shopNow:hover .hoverBg {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 120px;
  height: 40px;
  background-color: #111111;
  border-radius: 30px;
}
main .main .swiperBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
main .main .swiperBtn li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #111111;
}
main .main .swiperBtn li.active {
  background-color: #111111;
}
main .textSlide {
  margin: 0 15vw 100px;
  display: grid;
  grid-template-rows: repeat(3, 340px);
}
main .textSlide .textWrapper {
  font-family: "Bagel Fat One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 300px;
  color: #111111;
  width: 100%;
  position: relative;
}
main .textSlide .textWrapper h2 {
  height: 100%;
  line-height: 1;
}
main .textSlide .firstText img {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 50px;
}
main .textSlide .secondText img {
  width: 170px;
  position: absolute;
  top: 60px;
  left: 900px;
}
main .textSlide .lastText img {
  width: 220px;
  position: absolute;
  top: -50px;
  left: 200px;
}
main .walk {
  margin: 0 15vw 100px;
  display: grid;
  gap: 1vw;
  grid-template-columns: minmax(580px, 440px) 1fr;
}
main .walk .left {
  display: grid;
}
main .walk .left img {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}
main .walk .left .textWrapper {
  overflow: hidden;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 763px;
  border-radius: 600px;
  text-align: center;
}
main .walk .left .textWrapper .slide {
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
  background-color: #fff;
  text-wrap: nowrap;
  padding: 10px;
  margin: 500px 0 40px;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #111111;
}
main .walk .left .textWrapper .title {
  font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: #111111;
  margin-bottom: 30px;
  color: #fff;
}
main .walk .left .textWrapper .subText {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
main .walk .right {
  display: grid;
  grid-template-columns: repeat(1fr 1fr);
  grid-template-rows: 30px 1fr;
  gap: 1vw;
}
main .walk .right .btnWrapper {
  display: flex;
  gap: 20px;
}
main .walk .right .product {
  width: 100%;
}
main .walk .right .product .imgWrapper {
  margin-bottom: 25px;
  width: 100%;
  position: relative;
}
main .walk .right .product .imgWrapper img {
  width: 100%;
}
main .walk .right .product .imgWrapper div {
  position: absolute;
  top: 20px;
  left: 15px;
  border: 1px solid #111111;
  border-radius: 50%;
  background-color: #00AD4D;
  overflow: hidden;
  width: 60px;
  height: 30px;
  text-wrap: nowrap;
  transform: rotate(-30deg);
}
main .walk .right .product .textWrapper {
  padding-left: 10px;
}
main .walk .right .product .textWrapper .category {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 4px;
}
main .walk .right .product .textWrapper .name {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 10px;
}
main .walk .right .product .textWrapper .priceContainer {
  display: flex;
  gap: 10px;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #111111;
}
main .walk .right .product .textWrapper .priceContainer .discountRate {
  color: #FF2108;
}
main .walk .right .firstProduct {
  grid-column: 1/2;
  grid-row: 2/3;
}
main .walk .right .lastProduct {
  grid-column: 2/3;
  grid-row: 2/3;
}
main .pogle {
  margin: 0 15vw 100px;
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr minmax(580px, 440px);
}
main .pogle .left {
  display: grid;
  grid-template-columns: repeat(1fr 1fr);
  grid-template-rows: 30px 1fr;
  gap: 1vw;
}
main .pogle .left .btnWrapper {
  display: flex;
  gap: 20px;
}
main .pogle .left .product {
  width: 100%;
}
main .pogle .left .product .imgWrapper {
  margin-bottom: 25px;
  width: 100%;
  position: relative;
}
main .pogle .left .product .imgWrapper img {
  width: 100%;
}
main .pogle .left .product .imgWrapper div {
  position: absolute;
  top: 20px;
  left: 15px;
  border: 1px solid #111111;
  border-radius: 50%;
  background-color: #00AD4D;
  overflow: hidden;
  width: 60px;
  height: 30px;
  text-wrap: nowrap;
  transform: rotate(-30deg);
}
main .pogle .left .product .textWrapper {
  padding-left: 10px;
}
main .pogle .left .product .textWrapper .category {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 4px;
}
main .pogle .left .product .textWrapper .name {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 10px;
}
main .pogle .left .product .textWrapper .priceContainer {
  display: flex;
  gap: 10px;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #111111;
}
main .pogle .left .product .textWrapper .priceContainer .discountRate {
  color: #FF2108;
}
main .pogle .left .firstProduct {
  grid-column: 1/2;
  grid-row: 2/3;
}
main .pogle .left .lastProduct {
  grid-column: 2/3;
  grid-row: 2/3;
}
main .pogle .right {
  display: grid;
}
main .pogle .right img {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}
main .pogle .right .textWrapper {
  overflow: hidden;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 763px;
  border-radius: 600px;
  text-align: center;
}
main .pogle .right .textWrapper .slide {
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
  background-color: #fff;
  text-wrap: nowrap;
  padding: 10px;
  margin: 500px 0 40px;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #111111;
}
main .pogle .right .textWrapper .title {
  font-family: "Poetsen One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: #111111;
  margin-bottom: 30px;
}
main .pogle .right .textWrapper .subText {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

/*=============== footer */
footer {
  width: 100%;
  background-color: #00AD4D;
  border-radius: 30px 30px 0 0;
  padding: 35px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #111111;
}
footer .left {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .left .detailsBtn {
  display: flex;
  gap: 12px;
}
footer .left .detailsBtn li {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
}
footer .left .notice {
  display: flex;
  gap: 12px;
  font-weight: 500;
}
footer .left .sns {
  display: flex;
  gap: 12px;
}
footer .right {
  justify-self: end;
  text-align: right;
  color: #fff;
}
footer .right .call {
  margin-bottom: 80px;
}
footer .right .call h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5px;
}

/*==================================================== pcLg 시작한다 ! */
/*==================================================== pcMd 시작한다 ! */
/*==================================================== pcSm 시작한다 ! */
/*==================================================== tablet 시작한다 ! */
/*==================================================== mobile 시작한다 ! *//*# sourceMappingURL=index.css.map */